.header {
  width: 100%;
  padding: 5px;
}

.main-body {
  margin: 0 200px;
}

.header-top {
  display: flex;
  margin: 0 200px;
}

.header-right, .footer-right{
  flex: 20%;
  display: flex;
  direction: rtl;
}

.header-drop-search {
  width: 100%;
  padding: 10px 0;
}

.header-dropdown {
  border: none;
  padding: 7px;
  
}

.header-right-items {
  margin: 0;
  border: none;
  padding: 0 10px;
}

.header-right-items-2, .footer-right-items{
  padding: 20px;
}

.header-right-items-3 {
  border: none;
  color: white;
  background-color: black;
  direction: rtl;
  padding: 0 20px;
}

.header-divider, .footer-divider {
  border: 1px solid grey;
  border-radius: 1px;
}

.header-list-1 {
  margin: 0 200px;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.header-list-2 {
  margin: 0 200px;
  padding: 0;
  display: flex;
  overflow: hidden;
}



.header-icon, .footer-icon {
  padding: 20px 50px;
}

.header-items-2{
  border:none;
  padding: 10px;
  background-color: black;
  color: white;
}

.header-items-drop {
  background-color: orangered;
  color: black;
  padding: 10px;
  border:none;
}

.search-field {
  width: 75%;
}

.search-box {
  padding: 10px;
  width: 75%;
}

.search-button {
  background-color: orangered;
  color: white;
  border: none;
  padding: 7px;
}

.show-case-row, .features-row, .brand-logos-row  {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.show-case-col, .features-col, .brand-logo {
  flex: 20%;
}

.banner-with-texts {
  position: relative;
}

.banner-texts {
  position: absolute;
  left:40%;
  top:50%;
  font-weight: bolder;
}

.banner-button {
  position: absolute;
  left: 45%;
  top:65%;
  border: none;
  padding: 6px 15px;
  background-color: orangered;
  color: white;
}

.category {
  padding: 20px 0px;
}

.brand {
  padding: 40px 0;
}

.features-col-header, .category-head, .deals-price {
  font-weight: bold;
}

.features-col-sub, .deals-name{
  color: gray;
  font-weight: normal;
  font-size: small;
}

.images {
  width: 100%;
  padding: 10px 0 0 0;
}

.deals-row {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 0.5px solid gray;
}

.deals-items {
  flex:5;
  padding: 30px;
}

.deals-rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

.deals-button {
  border: none;
  background-color: gray;
  color: black;
  padding: 10px;
}

.footer {
  width: 100%;
}

.footer-top {
  background-color: orangered;
  display: flex;
  overflow: hidden;
}

.footer-items{
  padding: 20px;
  width: 100%;
}

.footer-list {
  width: 100%;
  margin: 0 200px;
  padding: 10px;
  display: flex;
  overflow: hidden;
}

.subscribe-button {
  padding: 0px;
  background-color:black;
  color: white;
  border: none;
  padding: 10px;
}

.footer-links {
  background-color: black;
  color: white;
}

.footer-links-col {
  margin: 0 200px;
  display: flex;
  padding: 50px 0;
  flex:20%;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-link-row {
  flex: 20%;
}

.footer-link-row-sub {
  color: grey;
  padding: 5px 0;
  font-size: small;
}

.footer-copyright {
  margin: 0 200px;
  color: grey;
  padding: 10px;
  font-size: small;
}