.header {
  width: 100%;
  padding: 5px;
}

.main-body {
  margin: 0 200px;
}

.header-top {
  display: flex;
  margin: 0 200px;
}

.tab-dropdown {
  display: none;
}

.header-drop {
  display: flex;
  float: left;
  overflow: hidden;
}

.header-dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 10px 20px;
  background-color: white;
  margin: 0; 
}

.dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.tab-dropdown:hover .dropdown-content {
  display: block;
}

.header-drop:hover .dropdown-content {
  display: block;
}

.header-right, .footer-right, .header-new-user{
  flex: 20%;
  display: flex;
  direction: rtl;
}

.header-drop-search {
  width: 100%;
  padding: 7px 0;
}

.header-dropdown {
  border: none;
  padding: 10px; 
}

.header-right-items {
  margin: 0;
  border: none;
  padding: 0 10px;
}

.header-right-items-2, .footer-right-items{
  padding: 15px 5px;
}

.mobile-search {
  display: none;
}

.header-right-items-3 {
  border: none;
  color: white;
  background-color: black;
  direction: rtl;
  padding: 0 20px;
}

.header-divider, .footer-divider {
  border: 1px solid grey;
  border-radius: 1px;
}

.header-list-1 {
  margin: 0 200px;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.header-list-2 {
  margin: 0 200px;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.header-icon, .footer-icon {
  padding: 15px 50px;
}

.header-items-2{
  border:none;
  padding: 10px;
  background-color: black;
  color: white;
}

.header-items-drop {
  background-color: orangered;
  color: black;
  padding: 10px;
  border:none;
}

.search-field {
  width: 75%;
}

.search-box {
  padding: 10px;
  width: 75%;
}

.search-button {
  background-color: orangered;
  color: white;
  border: none;
  padding: 7px;
}

.show-case-row, .features-row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.show-case-col, .features-col, .brand-logo {
  flex: 20%;
}

.banner-with-texts {
  position: relative;
}

.banner-texts {
  position: absolute;
  left:10%;
  top:20%;
  font-weight: bolder;
}

.banner-button {
  position: absolute;
  left: 10%;
  top:45%;
  border: none;
  padding: 6px 15px;
  background-color: orangered;
  color: white;
}

.category {
  padding: 20px 0px;
}

.brand {
  padding: 40px 0;
}

.brand-logos-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.features-col-header, .category-head, .deals-price {
  font-weight: bold;
  font-size: small;
}

.features-col-sub {
  color: gray;
  font-weight: normal;
  font-size: small;
}

.images {
  width: 100%;
  padding: 10px 0 0 0;
}

.deals-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.deals-name {
  color: gray;
  font-weight: bold;
  font-size: normal;
}

.deals-items {
  flex:20%;
  padding: 10px 0;
}

.deals-rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

.deals-button {
  border: none;
  background-color: gray;
  color: black;
  padding: 10px;
}

.footer {
  width: 100%;
}

.footer-top {
  background-color: orangered;
  display: flex;
  overflow: hidden;
}

.footer-items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.footer-list {
  width: 100%;
  margin: 0 200px;
  padding: 10px;
  display: flex;
  overflow: hidden;
}

.subscribe-button {
  padding: 0px;
  background-color:black;
  color: white;
  border: none;
  padding: 10px;
}

.footer-links {
  background-color: black;
  color: white;
}

.footer-links-col {
  margin: 0 200px;
  display: flex;
  padding: 50px 0;
  flex:20%;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-link-row {
  flex: 20%;
}

.footer-link-row-sub {
  color: grey;
  padding: 5px 0;
  font-size: small;
}

.footer-copyright {
  margin: 0 200px;
  color: grey;
  padding: 10px;
  font-size: small;
}

/* tab */
@media only screen and (max-width: 1200px) {
  .header-list-1, .header-list-2, .header-top, .main-body, .footer-list, .footer-links-col, .footer-copyright{
    margin: 0 25px;
  }
  .search-field {
    width: 45%;
  }
  
  .header-items-2 {
    display: none;
  }
  
  .tab-dropdown {
    display: flex;
    float: left;
    overflow: hidden;
  }

  .footer-items {
    padding: 10px;
  }

  .deals-items {
    width: 25%;
  }
  
  .deals-items:last-child, .brand-logo:last-child {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width:700px) {
  .header-top, .header-divider, .header-drop-search, .header-new-user, .footer-link-row-sub{
    display: none;
  }
  
  .header-icon {
    padding: 25px;
  }
  
  .mobile-search {
    display: flex;
  }
  
  .header-right-items-2 {
    padding: 25px 5px;
  }
  
  .show-case-row, .features-row, .footer-list, .footer-items, .footer-links-col {    
    flex-direction: column;
  }
  
  .features-col {
    padding: 15px 0;
  }

  .deals-items:nth-child(n+3):nth-child(-n+5), .brand-logo:nth-child(n+2):nth-child(-n+5) {
    display: none;
  }

  .brand-logo, .footer-icon, .category-head {
    text-align: center;
  }

  .subscribe-button, .footer-copyright {
    align-items: center;
  }

  .search-field {
    width: 100%;
  }

  .footer-right-items {
    direction: ltr;
    width: 100%;
    text-align: center;
  }
}